

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", Arial, sans-serif;
}




.container{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    padding: 0 5%;

}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.profile{
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 3em;
    padding-bottom: 40px;
    float: left;
    min-width: 250px;
    overflow-y: scroll; 
    background: #f2f3f7;
    height: 100vh;
    text-align: center;
    align-items: center;
}
.avatar{
    background-image: url("image/333172082_582478873528944_6837277652868818410_n.jpg");
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: calc((100% - 210px));
}
h3{
    font-family: "Playfair Display", Georgia, serif;
    font-size: 22px;
    margin: 20px 0;
}
#job-detail{
    font-size: 12px;
    color: gray;
   
}
#job-detail a{
    color: #2c98f0;
    outline: none;
    text-decoration: none !important;  
    font-size: 13px;
}
.menu{
    margin-top: 40px;
    font-family: "Quicksand", Arial, sans-serif;
   
}
.menu li{
    margin-top: 15%;
}
.menu li{
    outline: none;
    text-decoration: none !important;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.layout{
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    margin: 0 !important;
    z-index: 2;
    background-color: #1F0F07D1;
}




.profile-detail{
    float: left;
    max-height: 1000vh;
    position: relative;
    overflow: hidden;
    background-color: #f2f3f7;



}




.box-slide {
    display: grid;
    height: 100vh;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.slider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80vw;
    height: 80vh;
    transform: scale(1);
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    background-position: 50% 50%;
    background-size: cover;
    /* box-shadow: 0 30px 50px #505050; */
    transition: 1s;
    display: inline-block;
   
}
.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    background-color: #fff;




}
.slide.active{
    position: absolute;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    background-position: 50% 50%;
    background-size: cover;
    /* box-shadow: 0 30px 50px #505050; */
    display: inline-block;
    transition: 5s;
}.slide.active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: unset;
    transition: all 0.3s ease-out;
    transition-delay: 0.1s;
}
#prev {
    position: absolute;
    top: 45vh;
    left: 0;
    z-index: 10;
    font-size: 50px;
    color: black;




}




#next {
    position: absolute;
    top: 45vh;
    right: 0;
    z-index: 10;
    font-size: 50px;
    color: black;
}




.slide div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px !important;
    color: #f2f3f7;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    transform: translate(0 ,-50%);
    opacity: 0;
    animation: showcontent 1s ease-in-out forwards;
    background-color: black;
    width: fit-content;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
   




}
    @keyframes showcontent {
        from{
            opacity: 0;
            transform: translate(0, 200px);
            filter: blur(33px);
        }to{
            opacity: 1;
            transform: translate(0, 0);
            filter: blur();
        }
    }




.slide div span{
    color: #ff5c5c;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    font-weight: 500;
    font-size: 35px;
}
.flex-box{
    display: flex;
    border: 1px solid #e7e7e7c0;

}
.about{
    max-width: 100%;
    width: 100%;
    padding: 15% 10%;
    max-height: 100vh;
}
.heading-meta {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}
.colorlib-heading {
    font-size: 18px;
    margin-bottom: 4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.services{
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 10%;
    justify-content: space-between;
    width: 100%;
}
.services h3 {
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.color-1{
    width: 200px;
    height: 135px;
    padding: 2% 4%;
    background-color: #fff;
    margin: 0 10px;

    
}
.color-1 i{
    font-size: 25px;
}
.fa-lightbulb{
    color: #2c98f0;
} 
.fa-palette{
    color: #e06464;
}
.fa-database{
    color: yellow;
}
.fa-mobile-screen-button{
    color: rgb(172, 51, 172);
}
#skills , #contact{
    padding: 10% 10% 15% 10%;
    height: 100vh;

}
#experience ,#blog{
    padding: 10% 10%;
}
p{
    color: rgba(0, 0, 0, 0.6);
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* background-color: red; */
}
.skill-itm{
    width: 45%;
}
.prgress{
    background-color: white;
    /* background: #2c98f0; */
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 0.8;
    color: #000;
    font-weight: 600;
    text-align: right;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px; 
    margin-bottom: 20px;
}
.skill_1::before{
    position: absolute;
    content: "";
    background-color: #2c98f0;
    height: 100%;
    width: 75%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
}
.skill_2::before{
    position: absolute;
    content: "";
    background-color: #ec5453;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
}
.skill_3::before{
    position: absolute;
    content: "";
    background-color: #f9bf3f;
    height: 100%;
    width: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
}
.skill_4::before{
    position: absolute;
    content: "";
    background-color: #a84cb8;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
}
.skill_5::before{
    position: absolute;
    content: "";
    background-color: #2fa499;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
}
.skill_6::before{
    position: absolute;
    content: "";
    background-color: #4054b2;
    height: 100%;
    width: 75%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    margin: 0 0 15px 0;
}
.skill_7::before{
    position: absolute;
    content: "";
    background-color: #ec5453;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
}
.skill_8::before{
    position: absolute;
    content: "";
    background-color: #2fa499;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
}
#skills h4{
    font-size: 16px;
    font-family: "Quicksand", Arial, sans-serif;
    /* margin-bottom: 10px; */
    color: #000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 400;
    margin: 0 0 15px 0;
}
.demo-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.demo-img div{
    width: 50%;
    padding: 10px;
}
#blog span:nth-child(odd){
    color: #ec5453;
}
.list-book{
    display: flex;
    width: 100%;

}
.list-book div{
    width: 23%;
    padding: 10px;
    height: 130px;
    border: 1px solid;
    margin: 0 10px;
}
.list-book img{
    width: 100%;
    height: 100%;
}

  .front-side,
  .back-side {
    width: 390px;
    height: 220px;
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 4% 92% 4%;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 2px 5px 15px 0px #17161694;
    background-color: #122529;
  }
  .color-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(8, 50px);
    grid-gap: 8px;
    width: 150px;
    height: 400px;
    transform: rotate(-45deg);
  }
  .black {
    background-color: #343536;
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
  }
  .red1 {
    background-color: #e45e4f;
    grid-row: 2 / span 5;
  }
  .red2 {
    background-color: #e45e4f;
    grid-column: 2 / span 2;
    grid-row: 4/7;
  }
  .green {
    background-color: #007e67;
    grid-column: 2/4;
    grid-row: 7/9;
  }
  
  .info-grid {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.363);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.432);
    border-radius: 6px;
    font-size: 0.7rem; /*12px;*/
    display: grid;
    grid-template-columns: 15px repeat(3, 1fr) 15px;
    grid-template-rows: repeat(3, 1fr);
    line-height: 1px;
  }
  .info-grid .name {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    font-size: 1.2em;
    letter-spacing: .1rem;
    margin-top: 8px;
  }
  .info-grid .name h5{
    font-weight: unset;
  }
  .info-grid .addr {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
  
  .info-grid .phoneNo {
    grid-column: 3 / span 2;
    grid-row: 2;
    text-align: end;
  }
  .info-grid .emailId {
    grid-column: 3 / span 2;
    grid-row: 3;
    text-align: end;
    font-size: 1.1em;
  }
  
  .back-side .name-tag {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    align-self: center;
    z-index: 2;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.363);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.288);
    font-size: 0.6rem; /*12px;*/
    letter-spacing: .1rem;
    text-align: center;
  }
  .name-tag h1,h3{
    margin: 2px;
    font-weight: unset;
  }
  .credits{
    margin-top:40px;
    text-align: center;
    color: #343536;
  }
  .card{
    display: flex;
    justify-content: space-between;
    
  }
  .front-side{
    margin: 0 15px;
  }
  .name h2{
    margin: 15px 0;
  }
  @media only screen and (max-width: 768px) {
    @media only screen and (max-width: 768px) {
        .profile{
            display: none;
        }
        .slide{
            display: none;
        }
        .slide.active{
            width: 100%;
        }
        .list-book div {
            width: 23%;
            padding: 10px;
            height: 130px;
            border: 1px solid;
            margin: 0 10px;
            width: 100%;
            margin: 10% 0;
            height: 200px;
        }
        .list-book {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
        .card{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            display: 100%;
          }
          .about {
            max-width: 100%;
            width: 100%;
            padding: 15% 10%;
            height: 100vh;
        }
        .skills-list{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            /* background-color: red; */
        }
        .services {
            display: flex;
            flex-wrap: wrap;
            margin: 10% 0;
            justify-content: space-between;
            width: 100%;
        }
        .color-1{
            width: 100%;
            margin-bottom: 30px;
        }
        .about {
            max-width: 100%;
            width: 100%;
            padding: 15% 10%;
            max-height: 200vh;
            height: unset !important;
        }
        .skill-itm{
            width: 100%;
        }
        #next , #prev{
            font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
        }
        #experience, #blog {
            padding: 50% 10% 10% 10%;
        }
      }
  }
  .link:hover{
    color: red;
  }